<ActionBar class="action-bar link">   
    <Label text="NativesApp" class="action-bar-title" 
    android:horizontalAlignment="left"
    ios:horizontalAlignment="center"
    [class.h1]="platform.isOIS">
    </Label>

    <ng-container *ngIf="platform.isAndroid">
        <ActionItem android.systemIcon="ic_menu_search_mtrl_alpha"></ActionItem>
        <ActionItem text="New group" android.position="popup"></ActionItem>
        <ActionItem text="New broadcast" android.position="popup"></ActionItem>
        <ActionItem text="NativesApp Web" android.position="popup"></ActionItem>
        <ActionItem text="Starred messages" android.position="popup"></ActionItem>
        <ActionItem text="Settings" android.position="popup"></ActionItem>
    </ng-container>

    <ng-container *ngIf="platform.isIOS" >
        <ActionItem ios.position="left" ios.systemIcon="2">
        </ActionItem>
        <ActionItem ios.position="right" ios.systemIcon="7">
        </ActionItem>
    </ng-container>


</ActionBar>
    
<ns-tabs></ns-tabs>